:root {
  --primary-clr-100: whitesmoke;
  --primary-clr-200: #f5e3ff;
  --primary-clr-300: #965ad2;
  --primary-clr-400: #8046ba;
  --primary-clr-500: #5a189a;
  --primary-clr-800: #240046;
  --primary-clr-900: #10002b;
}
